# netlify.toml

[build]
  command = "hugo mod clean && hugo mod tidy && hugo mod get -u github.com/jpanther/congo/v2 && hugo --gc --minify -b $URL"
  publish = "public"

[build.environment]
  HUGO_VERSION = "0.139.3"
  GO_VERSION = "1.23"

[context.production.environment]
  HUGO_VERSION = "0.139.3"
  GO_VERSION = "1.23"
  HUGO_ENV = "production"
