# netlify.toml

[build]
  command = "hugo mod get -u && hugo --gc --minify -b $URL"
  publish = "public"

[build.environment]
  HUGO_VERSION = "0.139.3"
  GO_VERSION = "1.23"

[context.production.environment]
  HUGO_VERSION = "0.139.3"
  GO_VERSION = "1.23"
  HUGO_ENV = "production"
