  h1 {
    color: #2b3280 !important;
  }

  h2 {
    color: #4ea29b !important;
  }

  h3 {
    color: #e64533 !important;
  }

  h3 a:hover {
    color: #fff !important;
  }

  article .prose ul {
    list-style-type: none;
  }

  .dark .lightmode-logo {
    display: none;
  }

  .dark .darkmode-logo {
    display: block;
  }


 .lightmode-logo {
    display: block;
    margin-top: 0;
  }

  .darkmode-logo {
    display: none;
    margin-top: 0;
  }