@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 $red: #e64533;
$green: #4ea29b;
$purple: #2b3280;
 */

@layer base {
  :root {
    --color-primary-500: 43, 50, 128;
    --color-primary-600: 230, 69, 51;
    --color-secondary-500: 78, 162, 155;
    --color-ternary-500: 230, 69, 51;
  }
}
